<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    
</head>
<body>
    <h1>Users information:</h1>
    {% if user_information %}

        <ol>
           {% for user in user_information %} 
           <li>User Info
             <ul>
                <li>First Name: {{ user.first_name }}</li>
                <li>Last Name: {{ user.last_name }}</li>
                <li>Email: {{ user.email }}</li>
             </ul>
            </li>
           {% endfor %}
        </ol>
    
    {% endif %}

</body>
</html>