<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <div class='container'>
        <form method="POST">
            
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" calss="btn btn-primary" value="Submit">

        </form>

    </div>
</body>
</html>